@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.theme-dark {
  @apply h-screen w-screen bg-gradient-to-bl from-sky-900 to-rose-900;
}

.theme-light {
  @apply h-screen w-screen bg-gradient-to-bl from-sky-200 to-rose-300;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Google {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 140px; 
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.headerLogo {
  width: 300px;
  margin: 10px;
}