@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.theme-dark {
  @apply h-screen w-screen bg-gradient-to-bl from-sky-900 to-rose-900;
}

.theme-light {
  @apply h-screen w-screen bg-gradient-to-bl from-sky-200 to-rose-300;

}

.task {
  background: whitesmoke;
  margin: 0px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top:5px
}